params {
    outdir = "s3://test-data/nf-drs-germline-test/"
}

plugins {
    id "nf-drs@0.1.1"
}

drs {
    user = "admin" // Can also be fetched from DRS_USERNAME
    password = "admin" // Can also be fetched from DRS_PASSWORD
    enabled = true
    endpoint = "http://localhost:8000" // Can also be fetched from DRS_URL
    // allowedExtensions = [
    //     "vcf.gz",
    //     "html"
    // ]
    run = "germline_test"
    summary = "$params.outdir/drs_summary.csv"
}

aws {
    region = "uz"
    client {
        endpoint = "https://s3.ugent.be"
        protocol = "https"
        s3PathStyleAccess = true
        connectionTimeout = 60000
    }
}
