/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {

    // Limit resources so that this can run on GitHub Actions
    max_cpus        = 2
    max_memory      = '6.GB'
    max_time        = '6.h'

    // Input data
    outdir          = "${params.outputDir}"

    // Genome references
    fasta           = "https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/chr21/sequence/genome.fasta"

}
