/*
========================================================================================
    Nextflow config file for WES runs
========================================================================================
*/

params {
    caller        = "haplotypecaller"
    only_call     = true
    scatter_count = 8
}
