/*
========================================================================================
    Nextflow config file for WES runs
========================================================================================
*/

params {
    callers       = "haplotypecaller"
    only_call     = true
    scatter_count = 8
}
