/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for local genomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using genome paths.
    Can be used by any config that customises the base path using:
        $params.genomes_base / --genomes_base
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        "GRCh38" {
            dict         = "${params.genomes_base}/Hsapiens/hg38/seq/hg38.dict"
            fai          = "${params.genomes_base}/Hsapiens/hg38/seq/hg38.fa.fai"
            fasta        = "${params.genomes_base}/Hsapiens/hg38/seq/hg38.fa"
            strtablefile = "${params.genomes_base}/Hsapiens/hg38/variation/hg38.str.zip"
        }
    }
}
