/*
========================================================================================
    Nextflow config file for HyperCap runs
========================================================================================
*/

params {
    callers   = "vardict"
    filter    = true
    normalize = true
    annotate  = true
    scatter_count = 5
}