/*
========================================================================================
    Nextflow config file for HyperCap runs
========================================================================================
*/

params {
    callers             = "vardict"
    filter              = true
    normalize           = true
    annotate            = true
    scatter_count       = 5
    vep_dbnsfp          = true
    vep_spliceai        = true
    vep_spliceregion    = true
    vep_mastermind      = true
    vep_maxentscan      = true
    vep_eog             = true
}