/*
========================================================================================
    Nextflow config file for HyperCap runs
========================================================================================
*/

params {
    callers             = "vardict"
    scatter_count       = 5

    output_suffix       = "-vardict-decomposed-annotated"
}