/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {

    // Limit resources so that this can run on GitHub Actions
    max_cpus        = 2
    max_memory      = '6.GB'
    max_time        = '6.h'

    // Input data
    input           = "${params.baseDir}/tests/inputs/samplesheet.csv"
    outdir          = "${params.outputDir}"

    // Genome references
    genomes_ignore  = true
    igenomes_ignore = true
    genome          = 'GRCh38'

    // Required params
    scatter_size    = 200

    // Extras
    vep_merged      = false
    fasta           = params.test_data["homo_sapiens"]["genome"]["genome_fasta"]
    fai             = params.test_data["homo_sapiens"]["genome"]["genome_fasta_fai"]

}
