/*
========================================================================================
    Nextflow config file for SeqCap runs
========================================================================================
*/

params {
    callers   = "vardict"
    filter    = true
    normalize = true
    scatter_count = 14
}