/*
========================================================================================
    Nextflow config file for runs that need to be imported in seqplorer
========================================================================================
*/

params {
    filter              = true
    normalize           = true
    gemini              = true

    vcfanno             = true
    annotate            = true
    vep_merged          = true
    vep_spliceai        = true
    vep_mastermind      = true
    vep_eog             = true
    vep_maxentscan      = true
    vep_spliceregion    = true

    output_suffix       = "-gatk4-haplotype-joint-decomposed-annotated"
}
