/*
========================================================================================
    Nextflow config file for runs that need to be imported in seqplorer
========================================================================================
*/

params {
    filter          = true
    decompose       = true
    normalize       = true

    annotate        = true
    vep_dbnsfp      = true
    vep_spliceai    = true
    vep_mastermind  = true
    vep_eog         = true

    gemini          = true

}