/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run CenterForMedicalGeneticsGhent/nf-cmgg-germline -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input  = "${projectDir}/assets/samplesheet.csv"

    // Genome references
    genomes_ignore  = true
    igenomes_ignore = true
    genome          = 'GRCh38'

    // References
    fasta           = params.test_data["homo_sapiens"]["genome"]["genome_fasta"]
    fai             = params.test_data["homo_sapiens"]["genome"]["genome_fasta_fai"]
    dict            = params.test_data["homo_sapiens"]["genome"]["genome_dict"]
    sdf             = params.test_data["homo_sapiens"]["genome"]["genome_sdf"]
    strtablefile    = params.test_data["homo_sapiens"]["genome"]["genome_strtablefile"]

    // Pipeline specific parameters
    use_dragstr_model  = true
    filter             = true
    annotate           = true
    gemini             = true
    scatter_count      = 2
    validate           = true

    vep_merged         = false

    // VCFanno
    vcfanno           = true
    vcfanno_config    = "${projectDir}/assets/vcfanno.toml"
    vcfanno_resources = "https://github.com/brentp/vcfanno/raw/master/example/exac.vcf.gz,https://github.com/brentp/vcfanno/raw/master/example/exac.vcf.gz.tbi"

}
