/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-cmgg/smallvariants -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input  = "${projectDir}/assets/samplesheet.csv"

    // Genome references
    igenomes_ignore = true

    // References
    fasta           = "https://github.com/nf-cmgg/test-datasets/raw/smallvariants/data/genomics/homo_sapiens/genome/hg38_chr21_22000000_23000000.fasta"
    fai             = "https://github.com/nf-cmgg/test-datasets/raw/smallvariants/data/genomics/homo_sapiens/genome/hg38_chr21_22000000_23000000.fasta.fai"
    dict            = "https://github.com/nf-cmgg/test-datasets/raw/smallvariants/data/genomics/homo_sapiens/genome/hg38_chr21_22000000_23000000.dict"
    elfasta         = "https://github.com/nf-cmgg/test-datasets/raw/smallvariants/data/genomics/homo_sapiens/genome/hg38_chr21_22000000_23000000.elfasta"
    sdf             = "https://github.com/nf-cmgg/test-datasets/raw/smallvariants/data/genomics/homo_sapiens/genome/hg38_chr21_22000000_23000000_sdf.tar.gz"
    strtablefile    = "https://github.com/nf-cmgg/test-datasets/raw/smallvariants/data/genomics/homo_sapiens/genome/hg38_chr21_22000000_23000000.strtable.zip"
    ped             = "https://github.com/nf-cmgg/test-datasets/raw/smallvariants/data/genomics/homo_sapiens/genome/test_dots.ped"
    msi_baseline    = "https://github.com/nf-cmgg/test-datasets/raw/smallvariants/data/genomics/homo_sapiens/genome/msi_subset.baseline.list"
    somalier_sites  = "https://github.com/brentp/somalier/files/3412456/sites.hg38.vcf.gz"

    // Pipeline specific parameters
    filter             = true
    annotate           = false // This takes too long for a quick test run (unless you manually give the annotation references)
    gemini             = true
    scatter_count      = 2
    validate           = true
    add_ped            = true
    vep_chunk_size     = 10000
    normalize          = true

    vep_merged         = false

    // VCFanno
    vcfanno           = true
    vcfanno_config    = "${projectDir}/assets/vcfanno.toml"
    vcfanno_resources = "https://github.com/brentp/vcfanno/raw/master/example/exac.vcf.gz;https://github.com/brentp/vcfanno/raw/master/example/exac.vcf.gz.tbi"
}
