/*
========================================================================================
    Nextflow config file for WES runs
========================================================================================
*/

params {
    roi             = "${params.genomes_base}/Hsapiens/GRCh38.p14/regions/CMGG_WES_analysis_ROI_v4.bed"
    scatter_count   = 14
    
}