/*
========================================================================================
    Nextflow config file for WES runs
========================================================================================
*/

params {
    callers             = "haplotypecaller"
    scatter_count       = 8
    roi                 = "${params.genomes_base}/Hsapiens/GRCh38/regions/CMGG_WES_analysis_ROI_v5.bed"
    updio               = true
    automap             = true
}
