/*
========================================================================================
    Nextflow config file for WES runs
========================================================================================
*/

params {
    callers             = "haplotypecaller"
    scatter_count       = 8
}
