name: nf-core CI
# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on:
  push:
    branches:
      - dev
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

env:
  NXF_ANSI_LOG: false

concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: true

jobs:
  test_all:
    name: Run nf-test with ${{ matrix.test }}-${{ matrix.NXF_VER }}
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-cmgg/germline') }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        NXF_VER:
          - "24.04.2"
          - "latest-everything"
        test:
          - "pipeline_default"
          - "pipeline_callers"
          - "pipeline_variations"
          - "pipeline_variations2"
          - "pipeline_gvcfs"
          - "cram_call_genotype_gatk4"
          - "bam_call_vardictjava"
          - "cram_prepare_samtools_bedtools"
          - "input_split_bedtools"
          - "vcf_annotation"
          - "vcf_extract_relate_somalier"
          - "vcf_ped_rtgtools"
          - "vcf_upd_updio"
          - "vcf_validate_small_variants"
    steps:
      - name: Free some space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Check out pipeline code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4

      - name: Install Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "${{ matrix.NXF_VER }}"

      - name: Disk space cleanup
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1

      - name: Install nf-test
        run: |
          conda install -c bioconda nf-test

      - name: Run pipeline with test data
        run: |
          $CONDA/bin/nf-test test --tag ${{ matrix.test }} --junitxml=default.xml

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v3
        if: always() # always run even if the previous step fails
        with:
          report_paths: "default.xml"

      - name: Upload log file artifact
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: nf-test-workdir
          path: .nf-test/
